doctype html
html(lang="en")
	head
		include layout/_head
	body
		include layout/_header
		main
			.main__container
				h1 My congratulations! Everything all right! Keep calm and lets start coding... :)

		include layout/_footer