body {
  position: relative;
  font: 300 14px/1 Arial, sans-serif;
  color: #000;
}

input {
  outline: none;
  transition: all 0.4s ease-in-out;
}

textarea {
  outline: none;
  color: #000;
}

textarea:focus {
  color: #000;
}

button {
  display: block;
}

button,
input[type='submit'] {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background: transparent;
  border: 1px solid #000;
  border-radius: 0;
}

button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  background: #ececec;
}

img {
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.section__container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}