.item-list {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #eee;
}

.item {
  width: 25%;
  height: 100px;
  display: inline-block;
  background-color: blue;
  margin-left: -4px;
  border: 2px solid black;
}

.lisbon {
  width: 50%;
  background-color: red;
}

.lisbon:hover {
  background-color: green;
}